/* 외부 스타일시트 */

.under1{ text-decoration: underline;  font-size: 20pt; font-family: 'Gugi', cursive; color:red;}
strong.under2{font-size: 20pt; font-family: 'Black Han Sans', sans-serif; color:blue }
